@using MashinAl.WebUI.Views.ViewComponents
@{
    ViewBag.Title = "Onlayn Maşın Bazarı | Maşın Elanları Və Qiymətləri | Mashin.AL";
}

@using MashinAl.Business.Modules.CarModule.Queries.ComplexSearchQuery
@model ComplexSearchRequest

<div class="container">
    <section class="section search-filter">
        <div class="section-header">
            <div class="type-buttons">
                <button class="btn-type active">Hamısı</button>
                <button class="btn-type">Yeni</button>
                <button class="btn-type">Sürülmüş</button>
            </div>
        </div>
        <div class="section-body"></div>
        <div class="section-bottom">
            <form method="post" action="@Url.Action("Search", "Home")">
                <div class="first-row">
                    @await Component.InvokeAsync("FilterMarka")
                    @await Component.InvokeAsync("FilterModel")
                   
                </div>
                <div class="second-row">
                    <input name="MinPrice" data-entity-type="minprice" type="text"
                           placeholder="Qiymət, min. (AZN)"
                           class="select-container" />
                    <input name="MaxPrice" data-entity-type="maxprice" type="text"
                           placeholder="Qiymət, maks. (AZN)"
                           class="select-container" />
                    <label class="custom-checkbox-label">
                        <span class="custom-checkbox" id="kreditCheckbox">Kredit</span>
                    </label>

@*                     <label class="custom-checkbox-label">
                        <span class="custom-checkbox" id="icareCheckbox">İcarə</span>
                    </label> *@

                    <label class="custom-checkbox-label">
                        <span class="custom-checkbox" id="barterCheckbox">Barter</span>
                    </label>

                    <!-- Hidden checkboxes -->
                    <input type="checkbox" name="IsCredit" />
                    <input type="checkbox" name="icare" />
                    <input type="checkbox" name="IsBarter" />
                    <!-- Hidden checkboxes -->

                </div>
                <div class="hidden-row">
                    @await Component.InvokeAsync("FilterCity")
                    @await Component.InvokeAsync("FilterTransmission")
                    @await Component.InvokeAsync("FilterFuelType")
                    @await Component.InvokeAsync("FilterColor")
                </div>
                <div class="form-buttons">
                    <button class="formBtn"
                            type="reset"
                            onclick="resetCustomCheckboxes()">
                        Sıfırla <i class="fa-solid fa-xmark"></i>
                    </button>
                    <button class="btn-more-filter formBtn">
                        Daha çox filtr <i class="fa-solid fa-sliders"></i>
                    </button>
                    <button class="btn btn-green" type="submit">
                        Axtar <i class="fa-solid fa-magnifying-glass"></i>
                    </button>
                </div>
            </form>
        </div>
    </section>
    <section class="section featured-ads">
        <div class="section-header">
            <h1>Önə çəkilmiş elanlar</h1>
            <a asp-controller="Home" asp-action="All">
                <span class="span-see-all">Hamısına bax <i class="fa-solid fa-arrow-right"></i></span>
            </a>
        </div>
        <div class="section-body">
        <div class="section-card-row">
                @await Component.InvokeAsync("BoostedCars")
        </div>
    </section>
    <section class="section last-ads">
        <div class="section-header">
            <h1>Son elanlar</h1>
            <a asp-controller="Home" asp-action="All">
                <span class="span-see-all">Hamısına bax <i class="fa-solid fa-arrow-right"></i></span>
            </a>
        </div>
        <div class="section-body">
            <div class="section-card-row">
                @* <partial name="_Cars" model="@Model" /> *@
                @await Component.InvokeAsync("Cars")

            </div>
         </div>
    </section>
    <section class="section license-plates">
        <div class="section-header">
            <h1>Qeydiyyat nişanları</h1>
            <a asp-controller="Home" asp-action="Plates">
                <span class="span-see-all">Hamısına bax <i class="fa-solid fa-arrow-right"></i></span>
            </a>
        </div>
        <div class="section-body">
            <div class="section-card-row">
                @* <partial name="_LicensePlates" model="@Model" /> *@
                @await Component.InvokeAsync("LicensePlates")
            </div>
        </div>
    </section>
</div>


@section addjs {
    <script>
        /* SEARCH 3 BUTTONS START */
        document.addEventListener("DOMContentLoaded", function () {
            var buttons = document.querySelectorAll(".btn-type");

            buttons.forEach(function (button) {
                button.addEventListener("click", function () {
                    buttons.forEach(function (btn) {
                        btn.classList.remove("active");
                    });
                    button.classList.add("active");
                });
            });
        });
        /* SEARCH 3 BUTTONS END */

        /* CUSTOM CHECKBOXES */

        function toggleCheckbox(checkboxId) {
            var hiddenCheckbox = document.querySelector(
                'input[name="' + checkboxId + '"]'
            );
            hiddenCheckbox.checked = !hiddenCheckbox.checked;
        }

        document
            .getElementById("kreditCheckbox")
            .addEventListener("click", function () {
                this.classList.toggle("checked");
                toggleCheckbox("IsCredit");
            });

        // document
        //     .getElementById("icareCheckbox")
        //     .addEventListener("click", function () {
        //         this.classList.toggle("checked");
        //         toggleCheckbox("icare");
        //     });

        document
            .getElementById("barterCheckbox")
            .addEventListener("click", function () {
                this.classList.toggle("checked");
                toggleCheckbox("IsBarter");
            });

        function resetCustomCheckboxes() {
            document
                .querySelectorAll(".custom-checkbox")
                .forEach(function (checkbox) {
                    checkbox.classList.remove("checked");
                });

            let modelSelect = document.getElementById('model');
            modelSelect.disabled = true;
        }

        function submitForm() {
            document.getElementById("myForm").submit();
        }

        /* MORE FILTER BUTTON */

        let moreFilterButton = document.querySelector(".btn-more-filter");
        let hiddenRow = document.querySelector(".hidden-row");

        moreFilterButton.addEventListener("click", function (event) {
            event.preventDefault();
            hiddenRow.classList.toggle("open");

            moreFilterButton.innerHTML = hiddenRow.classList.contains("open")
                ? 'Qısalt <i class="fa-solid fa-angle-up"></i>'
                : 'Daha çox filtr <i class="fa-solid fa-sliders"></i>';
        });


        function checkMarkaSelection() {
            var markaSelect = document.getElementById('marka');
            var modelSelect = document.getElementById('model');

            if (markaSelect.value !== 'Marka seçin...') {
                modelSelect.disabled = false;
            } else {
                modelSelect.disabled = true;
                modelSelect.value = 'Model seçin...';
            }
        }

        $(document).ready(function () {
            $('#marka').change(function () {
                var selectedMarkaId = $(this).val();
                var modelSelect = $('#model');

                if (selectedMarkaId) {
                    modelSelect.prop('disabled', false);

                    $.ajax({
                        url: '@Url.Action("GetModelsByMarka", "Home")',
                        type: 'GET',
                        data: { markaId: selectedMarkaId },
                        success: function (data) {
                            modelSelect.empty().append('<option value="">Model seçin...</option>');

                            if (data) {
                                $.each(data, function (index, value) {
                                    modelSelect.append('<option value="' + value.id + '">' + value.name + '</option>');
                                });
                            }
                        },
                        error: function (error) {
                            console.error('Error fetching models:', error);
                        }
                    });
                } else {
                    modelSelect.prop('disabled', true).html('<option value="">Model seçin...</option>');
                }
            });
        });


        $('span.icon-favorite').unbind().click(function (e) {
            e.preventDefault();

            const carId = $(e.currentTarget).data('id');

            $.ajax({
                type: "POST",
                url: "@Url.Action("AddToFavorite", "Car")",
                data: { CarId: carId, Quantity: 1 },
                dataType: "json",
                success: function (response) {
                    toastr.success('Elan seçilmişlərə əlavə olundu!', 'Uğurlu nəticə!');

                    
                    $.ajax({
                        type: "GET",
                        url: "@Url.Action("InvokeAsync", "FavoriteInfo")", 
                        success: function (html) {
                            $('#favoritesContainer').html(html);
                        },
                        error: function (error) {
                            console.error('Failed to reload FavoriteInfoViewComponent:', error);
                        }
                    });
                },
                error: function (error) {
                    console.error('Failed to add to favorites:', error);
                }
            });
        });

    </script>
}