@using MashinAl.Business.Modules.CarModule.Queries.CarGetByIdQuery
@model CarGetByIdDto

@{
    ViewData["Title"] = Model.MarkaName + " | " + Model.ModelName + " Elan: " + Model.Id + " | Ətraflı";
}


<div class="card">
    <div class="card-body">
        <h5 class="card-title fw-semibold mb-4">@Model.MarkaName @Model.ModelName | Elan: @Model.Id | Ətraflı </h5>
        <div class="card">
            <div class="card-body">
                <div class="mb-3">
                    <label class="form-label">Marka</label>
                    <span class="form-control">@Model.MarkaName</span>
                    <label class="form-label">Model</label>
                    <span class="form-control">@Model.ModelName</span>
                    <label class="form-label">İl</label>
                    <span class="form-control">@Model.YearId</span>
                    <label class="form-label">Yürüş</label>
                    <span class="form-control">@Model.March</span>
                    <label class="form-label">Vəziyyəti</label>
                    <span class="form-control">@Model.StatusName</span>
                    <label class="form-label">Qiyməti</label>
                    <input value="@Model.Price.ToString("G29")" class="form-control" readonly>
                    <label class="form-label">Sahibi</label>
                    <input value="@Model.Name" class="form-control" readonly>
                    <label class="form-label">Əlaqə</label>
                    <input value="@Model.Phone" class="form-control" readonly>
                    <label class="form-label">Əlavə məlumat</label>
                    <textarea class="form-control" readonly>@Html.Raw(Model.Description)</textarea
                    <label class="form-label">Satış şəhəri</label>                   
                    <input value="@Model.SellCityName" class="form-control" readonly>
                    <label class="form-label">Şəkillər</label>
                    <div class="row">

                        @foreach (var image in Model.Images)
                        {
                            <div class="col-md-4">
                                <div class="card">
                                    <img src="~/uploads/images/@image.Name" class="card-img-top img-thumbnail">
                                </div>
                            </div>
                        }
                    </div>
                    <label style="margin-top:20px;" class="form-label">Status</label>
                    @if (Model.IsRejected)
                    {
                        <a class="btn btn-danger">Elan imtina edilib</a>
                    }
                    else if (Model.IsAccepted)
                    {
                        <a class="btn btn-success">Elan təsdiq olunub</a>

                    }
                    else
                    {
                        <a class="btn btn-warning">Cavab gözləyir...</a>

                    }
                </div>
                <a asp-action="index" class="btn btn-primary">Geri</a>
                <a asp-action="edit" asp-route-id="@Model.Id" class="btn btn-warning">Dəyişiklik et</a>
                @if (Model.IsAccepted == true || Model.IsRejected == true)
                {

                }
                else
                {
                    <button class="btn btn-success" onclick="publisPost(@Model.Id)">Təsdiq et</button>
                    <button class="btn btn-danger" onclick="rejectPost(@Model.Id)">İmtina et</button>
                }
            </div>
        </div>
    </div>
</div>



@section addjs {
    <script src="~/libs/sweetalert/sweetalert.min.js"></script>

    <script>
        function publisPost(id, name) {
            swal({
                title: "Diqqət!",
                text: `${id} nömrəli elanı təsdiq etmək istədiyinizdən əminsiniz?`,
                icon: "warning",
                buttons: ['Xeyr', 'Bəli'],
                dangerMode: true,
            })
                .then((willDelete) => {
                    if (willDelete) {
                        let obj = { id };

                        $.ajax({
                            url: '@Url.Action("Publish")',
                            type: 'POST',
                            data: obj,
                            success: function (response, status, xhr) {
                                if (response.error == true) {
                                    toastr.error('Elan təsdiqlənmədi!', 'Xəta!');
                                    return;
                                }
                                toastr.success(response.message, 'Uğurlu nəticə!');
                                setTimeout(function () {
                                    window.location.href = '@Url.Action("Index")';
                                }, 2000);
                            },
                            error: function (response, status, xhr) {
                                console.warn(response, status, xhr);
                            }
                        });
                    }
                });
        }

        function rejectPost(id) {

            var modal = `
                                <div class="modal" id="rejectionModal" tabindex="-1" role="dialog" aria-labelledby="rejectionModalLabel" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="rejectionModalLabel">İmtina Səbəbi</h5>
                                            </div>
                                            <div class="modal-body">
                                                <label for="rejectionReason">${id} nömrəli elanın imtina səbəbi:</label>
                                                <textarea id="rejectionReason" class="form-control"></textarea>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" onclick="closeModal()">Bağla</button>
                                                <button type="button" class="btn btn-danger" onclick="confirmRejection(${id})">İmtina et</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            `;

            $('body').append(modal);

            $('#rejectionModal').modal('show');
        }

        function confirmRejection(id) {
            var rejectionReason = $('#rejectionReason').val();

            if (rejectionReason.trim() === '') {
                toastr.error('İmtina səbəbini yazın!', 'Xəta!');
                return;
            }

            swal({
                title: "Diqqət!",
                text: `${id} nömrəli elanı imtina etmək istədiyinizdən əminsiniz?`,
                icon: "warning",
                buttons: ['Xeyr', 'Bəli'],
                dangerMode: true,
            })
                .then((willDelete) => {
                    if (willDelete) {
                        let obj = { id, reason: rejectionReason };

                        $.ajax({
                            url: '@Url.Action("Reject")',
                            type: 'POST',
                            data: obj,
                            success: function (response, status, xhr) {
                                if (response.error == true) {
                                    toastr.error('Elan imtina edilə bilmədi!', 'Xəta!');
                                    return;
                                }
                                toastr.success(response.message, 'Uğurlu nəticə!');
                                setTimeout(function () {
                                    window.location.href = '@Url.Action("Index")';
                                }, 2000);
                            },
                            error: function (response, status, xhr) {
                                console.warn(response, status, xhr);
                            }
                        });
                    }
                });

            closeModal();
        }

        function closeModal() {
            $('#rejectionModal').modal('hide');
            $('body').removeClass('modal-open');
            $('.modal-backdrop').remove();
        }
    </script>
}

