@{
    ViewData["Title"] = "Yeni Elan | MashinAl";
}

<section class="section breadcrumbs-section">
    <div class="container">
        <div class="breadcrumbs">
            <a asp-controller="home" asp-action="index">Əsas</a>
            <a>Elan yerləşdir</a>
        </div>
    </div>
</section>
<div class="section announcement-banner">
    <div class="container">
        <div class="section-header">
            <h1>Elan yerləşdir</h1>
        </div>
        <div class="announcement-header">
            <div class="header-information">
                <span class="text-and-icon">
                    <i class="fa-solid fa-mobile-button"></i>
                    <span>
                        Siz <b>@User.GetClaimValue(ClaimTypes.MobilePhone)</b> telefon nömrəsindən elan yerləşdirirsiniz
                    </span>
                </span>
            </div>
            <h2>Elanın növü</h2>
            <div class="announcement-type-section">
                <span class="announcement-type selected" id="car-tab"><i class="fa-solid fa-car-rear"></i> Avtomobil</span>
                <span class="announcement-type" id="plate-tab">
                    <span>
                        <i class="fa-solid fa-a az-letter"></i>
                        <i class="fa-solid fa-z az-letter"></i>
                    </span>
                    Qeydiyyat nişanları
                </span>
            </div>
        </div>
        <div class="announcement-form-inner">
            <div class="car-plate-announcement-form selected">
                <partial name="_CreateCar"/>
            </div>
            <div class="car-plate-announcement-form">
                <partial name="_CreatePlate"/>
            </div>
        </div>
    </div>
</div>

@section addcss {
    <link href="~/libs/toastr.js/toastr.min.css" rel="stylesheet" />
    <link href="~/libs/toastr.js/toastr.css" rel="stylesheet" />
    <link href="~/libs/multiple-imager/css/imager.css" rel="stylesheet" />
    
}


@section addjs {
    <script src="~/libs/multiple-imager/js/imager.js"></script>
    <script src="~/libs/toastr.js/toastr.min.js"></script>
    <script>

        /* MARCH AND NEW SELECTION */

        document.addEventListener("DOMContentLoaded", function () {
            var statusSelect = document.getElementById("statusSelect");
            var marchInput = document.getElementById("marchInput");

            if (statusSelect && marchInput) {
                statusSelect.addEventListener("change", function () {
                    var selectedStatus = statusSelect.value;

                    if (selectedStatus === "1") {
                        marchInput.value = "0";
                        marchInput.setAttribute("disabled", "disabled");
                    } else {
                        marchInput.removeAttribute("disabled");
                    }
                });
            }
        });

        $(document).ready(function () {
            $('#viewer1').imgadd({
                tnWidth: '120px',
                tnHeight: '120px',
                fontSize: '55px',
                plusInnerHtml: '',
                plusBtnClass: undefined
            });
        });

        $('form#carForm').submit(function (e) {
            e.preventDefault();

            // Create FormData from the form
            let formData = new FormData(e.currentTarget);

            [...$('[name=supplies] input[type=checkbox]:checked').map((index, item) => $(item).data('id'))].forEach(item => {
                formData.append('supplies', item);
            });

            // Perform AJAX request
            $.ajax({
                type: "POST",
                url: '@Url.Action("CreateCar")',
                data: formData,
                processData: false,
                contentType: false,
                success: function (response) {
                    console.log(response)
                    if (response.success) {

                        toastr.success(response.message, "Əlavə edildi!");

                        setTimeout(function () {
                            window.location.href = '@Url.Action("Index", "Home")';
                        }, 3000);
                    } else {

                        toastr.error("Elanda xəta var!", "Xəta!");
                    }
                },
                error: function (response) {
                    console.log(response);
                    toastr.error("Elanda xəta var...", "Xəta!");
                }
            });
        });

        $('form#plateForm').submit(function (e) {
            e.preventDefault();

            // Create FormData from the form
            let plateData = new FormData(e.currentTarget);

            // Perform AJAX request
            $.ajax({
                type: "POST",
                url: '@Url.Action("CreatePlate")',
                data: plateData,
                processData: false,
                contentType: false,
                success: function (response) {
                    console.log(response)
                    if (response.success) {

                        toastr.success(response.message, "Əlavə edildi!");

                        setTimeout(function () {
                            window.location.href = '@Url.Action("Index", "Home")';
                        }, 3000);
                    } else {

                        toastr.error("Elanda xəta var!", "Xəta!");
                    }
                },
                error: function (response) {
                    console.log(response);
                    toastr.error("Elanda xəta var...", "Xəta!");
                }
            });
        });


        function toggleCheckbox(checkboxId) {
            var hiddenCheckbox = document.querySelector(
                'input[name="' + checkboxId + '"]'
            );
            hiddenCheckbox.checked = !hiddenCheckbox.checked;
        }

        document
            .getElementById("barterCheck")
            .addEventListener("click", function () {
                this.classList.toggle("checked");
                toggleCheckbox("barter");
            });

        document
            .getElementById("creditCheck")
            .addEventListener("click", function () {
                this.classList.toggle("checked");
                toggleCheckbox("credit");
            });



        function resetCustomCheckboxes() {
            document
                .querySelectorAll(".custom-checkbox")
                .forEach(function (checkbox) {
                    checkbox.classList.remove("checked");
                });
        }

        /* ANNOUNCEMENT FORM SCRIPTS */

        let announcementTypes = document.querySelectorAll(".announcement-type");
        let announcementForms = document.querySelectorAll(".car-plate-announcement-form");

        announcementTypes.forEach((announcementType, index) => {
            announcementType.addEventListener('click', () => {

                announcementTypes.forEach((type) => {
                    type.classList.remove('selected');
                });

                announcementType.classList.add('selected');

                announcementForms.forEach((form) => {
                    form.classList.remove('selected');
                });

                announcementForms[index].classList.add('selected');
            });
        });


        /* MARKA AND MODEL */

        function checkMarkaSelection() {
            var markaSelect = document.getElementById('marka');
            var modelSelect = document.getElementById('model');

            if (markaSelect.value !== 'Marka seçin...') {
                modelSelect.disabled = false;
            } else {
                modelSelect.disabled = true;
                modelSelect.value = 'Model seçin...';
            }
        }

        $(document).ready(function () {
            $('#marka').change(function () {
                var selectedMarkaId = $(this).val();
                var modelSelect = $('#model');

                if (selectedMarkaId) {
                    modelSelect.prop('disabled', false);

                    $.ajax({
                        url: '@Url.Action("GetModelsByMarka", "Home")',
                        type: 'GET',
                        data: { markaId: selectedMarkaId },
                        success: function (data) {
                            modelSelect.empty().append('<option value="">Model seçin...</option>');

                            if (data) {
                                $.each(data, function (index, value) {
                                    modelSelect.append('<option value="' + value.id + '">' + value.name + '</option>');
                                });
                            }
                        },
                        error: function (error) {
                            console.error('Error fetching models:', error);
                        }
                    });
                } else {
                    modelSelect.prop('disabled', true).html('<option value="">Model seçin...</option>');
                }
            });
        });
       




    </script>
}